Flask==2.0.1
Werkzeug==2.0.3
elasticsearch==8.11.0
langchain
langchain_elasticsearch
langchain_huggingface
python-dotenv
flask-cors
sentence-transformers
langchain_mistralai
fuzzywuzzy
jinja2
python-Levenshtein
gunicorn
gevent
langchain-community
langchain-core
mistralai==0.0.7
python-dotenv==0.19.2
flask-cors==3.0.10
huggingface-hub==0.16.4
sentence-transformers==2.2.2
Flask-Login==0.6.3
oauthlib==3.2.2
requests-oauthlib==1.3.1
google-auth==2.27.0
google-auth-oauthlib==1.2.0
