Flask==2.0.1
Werkzeug==2.0.3
elasticsearch==8.17.1
langchain
langchain_elasticsearch
langchain_huggingface
python-dotenv
flask-cors
sentence-transformers
langchain_mistralai
fuzzywuzzy
jinja2
python-Levenshtein
gunicorn
gevent
langchain-community
langchain-core
mistralai==0.0.7
python-dotenv
flask-cors
huggingface-hub
sentence-transformers
Flask-Login
oauthlib
requests-oauthlib
google-auth
google-auth-oauthlib
